<section class="container">
  <div class="left">
    <img class="logo" src="img/logo_lg.svg" alt="ONLINE TODO LIST LOGO" />
    <img class="computer-show" src="img/img.png" alt="img" />
  </div>
  <div class="right">
    <form action="" method="get" class="form-style login-form">
      <h2>最實用的線上代辦事項服務</h2>
      <div class="input-contentGroups">
        <div class="input-groups">
          <label for="login-email">Email</label>
          <input type="email" name="login-email" id="login-email" placeholder="請輸入Email" />
          <p class="alert">此欄位不可為空</p>
        </div>
        <div class="input-groups">
          <label for="login-password">密碼</label>
          <input type="password" id="login-password" name="login-password" minlength="8"  placeholder="請輸入密碼" />
          <p class="alert"></p>
        </div>
      </div>
      <div class="input-groups">
        <input class="login-btn main-btn" id="login-btn" type="button" value="登入" />
      </div>
      <div class="input-groups">
        <input class="register-page-btn sub-btn" id="register-page-btn" type="button" value="註冊帳號" />
      </div>
    </form>
  </div>
</section>
